# ignore files without an extension (binary builds)
*
!/**/
!*.*
!COMPOPTS
!DISCLAIMER
!Dockerfile
!GRAPHFILES
!LICENSE

# test output
*.comp.out.tmp
*.exec.out.tmp
/test/performance/dat/
/test/performance/Logs/
/test/unit/Logs/

# chpldoc generated content
/docs/

# Mason lockfile
Mason.lock

# chpldoc deploy key
deploy_key