# ignore files without an extension (binary builds)
*
!/**/
!*.*
!COMPOPTS
!DISCLAIMER
!Dockerfile
!GRAPHFILES
!LICENSE

# test output
*.comp.out.tmp
*.exec.out.tmp
/test_performance/dat/
/test_performance/Logs/
/test/Logs/

# chpldoc generated content
/docs/
/doc/

# Mason lockfile
Mason.lock

# chpldoc deploy key
deploy_key
*.swp
